<!DOCTYPE html>
<html>
  <head>
    <title>Ask</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collasped" data-toggle="colapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='#'>history of the universe</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><form><a href='#' class="btn btn-success navbar-btn btn-sm">
                Ask Question
            </a></form></li>
          </ul>
          </div>
      </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
